<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--  <add key="EJETDB247OCEAN" value="Data Source=EJETDB247BAK169;Persist Security Info=True;User ID=oceanuser;Password=nowgis;Unicode=True"/> -->
    <add key="EJETDB247OCEAN" value="Data Source=EJETDB247;Persist Security Info=True;User ID=oceanuser;Password=nowgis;Unicode=True"/>

    <add key="EJETDB247Nowgis2010" value="Data Source=EJETDB247;Persist Security Info=True;User ID=nowgis2010;Password=nowgis;Unicode=True"/>
    <add key="EJETDB247IDCTY" value="Data Source=EJETDB247;Persist Security Info=True;User ID=idcty;Password=idcty;Unicode=True"/>

    <add key="WrodFilePath" value="\\10.153.96.178\EastWestSea\"/>
    <add key="ftpUserID" value="ftp://172.22.1.17:21/"/>
    <add key="ftpUserID" value="gmcrsz"/>
    <add key="ftpPassword" value="123456"/>
    <add key="ftpFilepPath" value="/nas/begz/rcv/ocean/"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
